.section {
  text-align: center;
}

.loading {
  text-align: center;
}
.textContainer {
  text-align: center;
  color: #2f76d2;
  padding: 0.5rem;
  margin-top: 1rem;
  border: 1px #2f76d2 solid;
  border-radius: 4px;
}

.numbers {
  text-align: center;
  padding-top: 2rem;
}
.failed {
  text-align: center;
  color: red;
}

.firstContainer {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.secondContainer {
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.textRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.red {
  color: rgb(216, 34, 34);
}

.yellow {
  color: yellowgreen;
}

@keyframes fullRotation {
  0% {
    transform: rotate(359deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.loopIcon {
  animation: fullRotation infinite 2s linear;
}

@media screen and (max-width: 700px) {
  .firstContainer {
    min-height: 28vh;
    width: fit-content;
  }

  .secondContainer {
    min-height: 28vh;
    width: fit-content;
  }

  .textRow {
    flex-wrap: wrap;
  }
}
