.container {
  margin-top: 1rem;
  text-align: center;
}

.paper1 {
  padding: 1.5rem;
}

.paper_other {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.red {
  color: rgb(216, 34, 34);
}
